.headContent {
	text-align: center;

	h1 {
		font-size: 6rem;
        margin: 1rem 0;
        color: $accentOne;
	}

	p {
		font-size: 2rem;
        margin-bottom: 1rem;
        color: $darkColor;
	}
}
