.headContent {
	position: relative;
	text-align: center;

	h1 {
		font-size: 3.3rem;
		margin: 1.5rem 0 0 0;
		color: $accentOne;
		font-family: 'Goblin One', cursive;
		line-height: 8.7rem;
		text-transform: uppercase;
		font-weight: normal;
	}

	p {
		font-size: 1.7rem;
		font-weight: normal;
		margin-bottom: 1rem;
		color: $darkColor;
		font-family: 'Lato', sans-serif;
		padding-bottom: 1rem;
		line-height: 2.4rem;
	}
}

.userList {
	position: absolute;
	font-size: 3rem;
	font-weight: normal;
	right: 0;
	top: 0;
	color: $accentOne;
	&:hover {
		color: $darkColor;
		cursor: pointer;
	}
}
