.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 90%;
}

body {
	background: $mainColor;
}

.pageTitle {
	font-size: 3rem;
	margin-bottom: 4rem;
	text-align: center;
	font-family: 'Righteous', cursive;
	line-height: 3.7rem;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $accentOne;
}

.cardWrapper {
	display: grid;
	justify-content: center;
	margin-bottom: 4rem;
}

.cards {
	position: relative;
	text-align: center;
	max-width: 300px;
	margin: 0 auto 4rem auto;

	h2 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $darkColor;
		font-size: 1.7rem;
		line-height: 20px;
		font-family: 'Lato', sans-serif;
		padding-bottom: 0.5rem;
	}

	&Bottom {
		background: #000;
	}

	input[type='image'] {
		height: 400px;
		width: 300px;
	}

	.quickInfo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $lightColor;
		font-size: 2rem;
		padding-right: 0.5rem;
		&:last-child,
		&:first-child {
			margin: 0.5rem;
		}
	}

	.releaseYear {
		padding-right: 1.5rem;
	}

	.saveBtn {
		display: inline-block;
		background: $accentOne;
		color: $lightColor;
		padding: 1.5rem 1rem;
		border: 1px solid $accentOne;
		text-decoration: none;
		font-size: 1.5rem;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		width: 50%;
		line-height: 2rem;

		&:hover,
		&:focus {
			background: $accentTwo;
			color: $accentOne;
		}
	}
}

.infoIcon {
	position: absolute;
	font-size: 1.4rem;
	color: $accentOne;
	right: 5px;
	bottom: 55px;

	i {
		position: relative;
	}

	&::before {
		content: 'More info';
		font-size: 1.3rem;
		font-weight: bold;
		white-space: nowrap;
		position: absolute;
		left: -59px;
		bottom: 2px;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 250ms ease-in;
	}
}

.imgLink:hover ~ .infoIcon:before,
.imgLink:focus .infoIcon:before {
	transform: scaleX(1);
}

.imgLink:hover,
.imgLink:focus {
	opacity: 0.2;
}
