@media (min-width: 610px) {
	.cardWrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
}

@media (min-width: 1000px) {
	.cardWrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.headContent {
		h1 {
			font-size: 5.5rem;
		}
	}

	.searchBtn {
		width: 20%;
	}
	input[type='search'] {
		width: 60%;
		font-size: 2.2rem;
	}
	

	.submit::-moz-focus-inner {
		border: 0;
	}
.cards .savedToList:after {
	transform: scaleX(0);
}

}

@media (min-width: 1400px) {
	.cardWrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}
