.tryAgain {
	text-align: center;
	h3 {
		font-size: 3rem;
		margin-bottom: 4rem;
		text-align: center;
		font-family: 'Righteous', cursive;
		line-height: 3.7rem;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $accentOne;
	}

	p {
		font-size: 2rem;
	}
}
