.showOverlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: #000;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	color: #fff;

	h3 {
		font-size: 3rem;
		margin-bottom: 1rem;
		text-align: center;
		font-family: 'Righteous', cursive;
		line-height: 3.7rem;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $lightColor;
	}

	p {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		color: $lightColor;
		font-family: 'Lato', sans-serif;
		line-height: 2.4rem;
	}
}

.showDetails {
	display: flex;
	font-size: 1.7rem;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	padding-bottom: 0.5rem;
	justify-content: center;

	li {
		margin-right: 1rem;
		padding: 1rem;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.closeOverlay {
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 50px;
	background: transparent;
	color: $accentOne;
	border: none;
	text-decoration: none;
	font-size: 3rem;
	text-transform: uppercase;

	&:hover,
	&:focus {
		color: $accentTwo;
	}
}

.ratingStar {
	color: $accentOne;
	padding: 0.5rem;
	font-size: 1rem;
}
