.showOverlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: #000;
	opacity: 0.95;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	color: #fff;

	h3 {
		font-size: 3rem;
		text-align: center;
		color: #fff;
		margin-bottom: 2rem;
	}

	p {
		font-size: 1.7rem;
		margin-bottom: 3rem;
	}
}

.showDetails {
	display: flex;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	justify-content: center;

	li {
		margin-right: 1rem;
		padding: 1rem;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.closeOverlay {
		display: inline-block;
		position: absolute;
		top: 50px;
		right: 50px;
		background: transparent;
		color: $accentOne;
		border: none;
		text-decoration: none;
		font-size: 3rem;
		text-transform: uppercase;
		

		&:hover,
		&:focus {
			color: $accentTwo;
		}
	}
