@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lato&family=Righteous&display=swap');

$mainColor: #f8f6ee;
$lightColor: #ffffff;
$darkColor: #000;
$accentOne: #0373f3;
$accentTwo: #dbf2ff;
